h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
#container-1{
    margin:auto;
    width:38%;
    padding:10px;
}
#container-1>div>img{
    height:350px;
    margin:auto;
    width:80%;
    margin-left:10%;
}
p{
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
   font-weight: bolder;
}
#container-1>div>h2{
    font-family: 'Oswald', sans-serif;
    font-size: 22px;

}
#container-1>div{
    border:3px solid rgb(191, 37, 86);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding:10px;
}

